<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Caroline Adelin Lewanga</strong> .I am student at the University of Dar es Salaam majoring in Bachelor of Science in Computer
                Engineering and Information technology.I have experiences in Angular Js, Python, Android Mobile apps development with java, A complete front end developer expert
                and UI Designer with Figma.
                I have done some few projects.
              </p>


              <p>
                I love innovation and i am currently joined at the Youth for Children Innovation Hub. Also
               i love learning new thing and practising them in this field.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Personal Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">August 05, 1997</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">carolinelewanga2@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+255 783268340</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Dar es Salaam,Tanzania
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Kiswahili, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>